html {height:100%;}
body{min-height:100%;}
.mapcontainer{height:100%;}
.inline-block{ display: inline-block !important; }
div.kiokie-wrapper{
	max-width:1400px; margin-top:53px; 
	height: -moz-calc(100% - 120px); /* Firefox */
	height: -webkit-calc(100% - 120px); /* Chrome, Safari */
	height: calc(100% - 120px); /* IE9+ and future browsers */
}

/*from local.jsp*/
html,body,h1,h2,h3,h4,h5,a{
	font-family: 'Julius Sans One','游ゴシック体' , 'Yu Gothic' , YuGothic,'Nanum Gothic',sans-serif;}
#map {
       height: 95%;
       width: 95%;
      }
 #footer{
 	color: #ff5722;
 }
 .w3-theme-d2 {
   	color: #fff !important;
   	background-color: #ff5722 !important;
}
.w3-theme-d4 {
    color: #fff !important;
    background-color: #c41c00 !important;
}
/* footer */
.w3-theme-d3 {
    color: #fff !important;
    background-color: #263238 !important;
}
.w3-theme-l1 {
    color: #fff !important;
    background-color: #8c9900 !important;
}
/*alert 메시지*/
.w3-theme-l4 {
    color: #000 !important;
    background-color: #ffffff !important;
}
/*alert 닫기버튼*/
.w3-theme-l3 {
    color: #000 !important;
    background-color: #ff5722 !important;
}
/* skip버튼 */
.ui.positive.button, .ui.positive.buttons .button {
    background-color: #8c9900;
    color: #fff;
    text-shadow: none;
    background-image: none;
}
/* dislike버튼 */
.ui.negative.button, .ui.negative.buttons .button {
    background-color: #ff5722;
    color: #fff;
    text-shadow: none;
    background-image: none;
}
.w3-theme-l1-navy{
	color: #fff !important;
	background-color: #263238 !important;
}
#dislikeBtn{
	cursor: pointer;
	transition: 0.5s;
}
#dislikeBtn:hover{
	color: red;
}
#usefulBtn{
	cursor: pointer;
	transition: 0.5s;
}
#usefulBtn:hover{
	color: green;
}